.body{
    margin: 0%;
}
.header{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 88px;
    justify-content: space-between;
    position: fixed;
    z-index: 1;

    
}
.header-left{
    background-color: rgb(28, 28, 242);
    width: auto;
    display: flex;
    flex: 1;
    align-items: center;


}
.header-right{
    background-color: rgb(28, 28, 242);
    flex: 1;
    width: auto;
    align-items: center;
    display: flex;
    justify-content: end;
    
}

.pepsi-header-logo{
    height: 60px;
    width: 60px;
    margin-left: 30px; 
    cursor: pointer;
}

.view-products{
    font-size: 14px;
    color: white;
    margin-left: 50px;
    letter-spacing: -1px;
    cursor: pointer;
}
.buy-products-button{
    display: inline-block;
    font-size: 15px;
    padding: 0.5em 1.85em;
    border: 2px solid #fff;
    border-radius: 1.8em;
    background:  rgb(28, 28, 242);
    color: #fff; 
    cursor: pointer;
    transition-delay: 0.15s;
    margin-right: 40px;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: -1px;
    button-style-padding :'0px';
    
     
} 
.buy-products-button:hover{
   background-color: #fff;
   color: rgb(28, 28, 242) ;

    
}
    

.buy-products{
    font-size: 12px;
    color: white;
    letter-spacing: -1px;
    margin: 0%;
    cursor: pointer;
}
